* {
	font-family: Sans-Serif;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color: #000;
}

header {
	width: 500px;
	height: 60px;
	float: right;

}

nav {
	position: relative;
	float: right;

}

.wrap {
	width: 100%;
}

.gmail {
	padding: 15px;
	word-spacing: 30px;
	font-family: sans-serif;
	font-size: 13px;

}

.images {
	padding: 15px;
	word-spacing: 30px;
	font-family: sans-serif;
	font-size: 13px;

}

.grid {
	max-height: 20px;
	max-width: 20px;
	padding: 10px;
}

.bell {
	max-height: 20px;
	max-width: 20px;
	border-radius: 50%;
	padding: 10px;
}

.charlie {
	max-height: 32px;
	max-width: 32px;
	border-radius: 50%;
	margin-right: 20px;
	margin-top: 10px;
	}

a:hover {
	color: black;
	text-decoration: underline;
}

a:visted {
	text-decoration: none;
}

.main {
	height: 410px;
	width: 640px;
	position: relative;
	text-align: center;
	margin: auto;
	padding-top: 150px;
	clear: both;
}

#google {
	height: 90px;
	width: 255px;
	display: block;
	margin: auto auto;

}

#search {
	height: 40px;
	width: 600px;
	margin-right: 50px;
	display: block;
}

.buttons {
	display: inline-block;
	margin: auto auto;
	margin-top: 30px;
}

footer {
	width: 100%;
	height: 60px;
	border-top: thin solid black;
	background-color: #ffefd5;
}

.last3 {
	float: right;
	padding: 15px;
	word-spacing: 30px;
	font-family: sans-serif;
	font-size: 13px;
	color: #d3d3d3;
}

.first3 {
	float: left;
	padding: 15px;
	word-spacing: 30px;
	font-family: sans-serif;
	font-size: 13px;
	color: #d3d3d3;
}