[Desktop Entry]
Encoding=UTF-8
Name=Link to Inline image 2
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=7938615694&view=fimg&th=15953088c0b21d73&attid=0.0.5&disp=emb&realattid=ii_159530821487f3e2&attbid=ANGjdJ8Vm-Y3sl-l62338n9vjbxihQJcBm-I7heVQMgVvcJcas94EhP77e-JXP5XiBKe6_m-fDYy0YmWq9NlJj1ujAEHa9-pfYePNA36eGHXri-s4sQvOv4WrIZLy34&sz=w300-h300&ats=1483157269856&rm=15953088c0b21d73&zw&atsh=1
Icon=text-html
